# robot-hat config and calibration value of robots

# Init angles (must exist and be parseable)
leg_init_angles = [0,0,0,0,0,0,0,0]
head_init_angles = [0,0,0]
tail_init_angles = [0]

# Servo offsets
legs_servo_offset_list = [0.0, 0.0, 0.0, 0.0, -6.0, 0.0, 0.0, 0.0]
head_servo_offset_list = [0.0, 0.0, 0.0]
tail_servo_offset_list = [0.0]
